div.content {
	/* The display of content is enabled using jQuery so that the slideshow content won't display unless javascript is enabled. */
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

div.content a, div.navigation a {
	text-decoration: none;
	color: #777;
}

div.content a:focus, div.content a:hover, div.content a:active {
	text-decoration: underline;
}

div.navigation a.pageLink {
	height: 140px;
	line-height: 140px;
}

div.controls {
	margin-top: 5px;
	height: 23px;
}

div.controls a {
	padding: 5px;
}

div.ss-controls {
	float: left;
}

div.nav-controls {
	float: right;
}

div.slideshow-container {
	position: relative;
	clear: both;
	height: auto;
	width: auto;
}

div.loader {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('loader.gif');
	background-repeat: no-repeat;
	background-position: center;
}

div.slideshow span.image-wrapper {
	display: block;
	top: 0;
	left: 0;
}

div.slideshow a.advance-link {
	display: block;
	line-height: auto; /* This should be set to be at least the height of the largest image in the slideshow */
	text-align: center;
}

div.slideshow a.advance-link:focus {
	outline: none;
}

div.slideshow a.advance-link:hover,
div.slideshow a.advance-link:active,
div.slideshow a.advance-link:visited {
	text-decoration: none;
}

div.slideshow img {
	vertical-align: middle;
	border: 1px solid #ccc;
}

div.download {
	float: right;
}

div.caption-container {
	position: relative;
	clear: left;
}

span.image-caption {
	display: block;
	top: 0;
	left: 0;
}

div.caption {
	padding: 12px;
}

div.image-title {
	font-weight: bold;
	font-size: 1.4em;
}

div.image-desc {
	line-height: 1.3em;
	padding-top: 12px;
}

div.navigation-container {
	float: left;
	position: relative;
	width: 976px;
}

div.navigation {
	position: relative;
	float: left;
	/* The navigation style is set using jQuery so that the javascript specific styles won't be applied unless javascript is enabled. */
}

div.navigation a.pageLink {
	display: block;
	position: relative;
	float: left;
	margin: 2px;
	width: 10px;
	background-position: center center;
	background-repeat: no-repeat;
}

div.navigation a.pageLink:focus {
	outline: none;
}

ul.thumbs {
	position: relative;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	list-style: none;
	float: left;
}

ul.thumbs li {
	height: auto;
	margin: 0px 5px 0px 5px;
	padding: 0;
	list-style: none;
	float: left;
	position: relative;
}

a.thumb {
	padding: 2px;
	display: block;
	border: 1px solid #ccc;
}

a.thumb:focus {
	outline: none;
}
ul.thumbs img {
	border: none;
	display: block;
}
div.pagination {
	clear: both;
	margin-left: 25px;
}

div.pagination a, div.pagination span.current, div.pagination span.ellipsis {
	position: relative;
	display: block;
	float: left;
	margin-right: 2px;
	padding: 4px 7px 2px 7px;
	border: 1px solid #ccc;
}
div.pagination a:hover {
	text-decoration: none;
}
div.pagination span.current {
	font-weight: bold;
}
div.pagination span.ellipsis {
	border: none;
	padding: 5px 0 3px 2px;
}

div.gallery-gutter {
	clear: both;
	padding-bottom: 20px;
}
