@font-face {
    font-family: 'GaramondNarrowCRegular';
    src: url('fonts/garamondnarrowc-light-webfont.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
}

body {
	font-family: 'GaramondNarrowCRegular';
	background: #fffddf;
	margin: 0;
	display: block;
}

div, body, ul, a {
	text-decoration: none;
}

table {
	width: 100%;
	border: 0;
}

td {
	padding-top: 40px;
	padding-bottom: 140px;
}

p {
	margin: 0;
	padding-left: 18px;
	padding-bottom: 20px;
	font-weight: 500;
	color: #4c0c0c;	
	font-size: 14px;
}

h1 {
	font-weight: normal;
	padding-left: 18px;
	margin: 0;
	color: #4c0c0c;	
	font-size: 14px;
}

img {
	padding-left: 18px;
	border-style: none;
	margin: 0;
}

div#artwork {
	text-align: center;
}

div#image-title {
	font-size: 20px;
}

div#image-desc {
	font-size: 15px;
}