@font-face {
	font-family: 'GaramondNarrowCRegular';
	src: url('fonts/garamondnarrowc-light-webfont.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html, body {
	height: 100%;
}

body {
	background: #fffbde;
	margin: 0;
}

header, nav, section, article, aside, footer {
   display: block;
}

div, body, ul, a {
	text-decoration: none;
	list-style: none;
}

li {
	display: inline;
}

p {
	margin: 0;
}

h1 {
	font-size: 20px;
	padding-top: 40px;
	padding-left: 25px;
}

img {
	border-style: none;
}

div#container {
	color: #231f20;
	background: #f4ecc9;
	margin: 0 auto 0 auto;
	width: 976px;
	height: auto;
	min-height: 100%;
	box-shadow: 0px 0px 25px 5px #a7a7a4;
	moz-box-shadow: 0px 0px 25px 5px #a7a7a4;
	webkit-box-shadow: 0px 0px 25px 5px #a7a7a4;
	behavior: url(scripts/ie-css3.htc);

}

div#top {
	background-repeat: no-repeat;
	width: 976px;
	height: 256px;
}

div#top-left {
	font-size: 18px;
	color: #231f20;
	float: left;
	height: 256px;
}

div#logo {
	width: 454px;
	height: 256px;
}

div#top-right {
	height: 256px;
}

#banner {
	padding-left: 677px;
	padding-top: 25px;
}

#menu {
	height: 36px;
	background: #2c1410;
}

#menu-top {
	height: 36px;
}

ul.menu-top {
	margin: 8px 12px;
	float: left;
}

ul.menu-top li {
	margin-right: 50px;
}

ul.menu-top a {
	background-repeat: no-repeat;
	background-position: left;
	text-decoration: none;
	font-family: 'GaramondNarrowCRegular';
	font-size: 15px;

    height: 36px;
	color: #e9ddb5;
}

#menu-bottom {
	background-repeat: no-repeat;
	width: 976px;
	height: auto;
}

ul.menu-bottom {
	width: 976px;
	margin: 0px;
	padding: 0px;
	padding-top: 13px;
}

ul.menu-bottom li {
	padding-top: 25px;
	padding-left: 29px;
	padding-right: 29px;
}

#top-shadow {
	width: 976px;
	height: 35px;
	background-image: url('images/shadow.jpg');
	background-repeat: no-repeat;
}

hr {
	height: 1px; 
	border: none;
	color: #231f20;
	background: #999999;
}

#middle {
	text-align: center;
	width: 976px;
	height: auto;
	background: #f4ecc9;
	padding-bottom: 100px;
}

#content {
	font-family: 'GaramondNarrowCRegular';
	padding-top: 30px;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	font-size: 14px;
	width: 976px;
}

div#main_text {
	text-align: left;
	margin-top: 30px;
	margin-left: 50px;
}

div#main_text_quote {
	font-size: 12px;
	font-style: italic;
	text-align: left;
	margin-top: 15px;
	margin-left: 440px;
}

div.caption {
	font-size: 14px;
	padding-top: 5px;
}

div.thumb {
	display: inline-block;
	height: 205px;
	width: 185px;
	vertical-align: top;
}

#footer {
	font-family: 'GaramondNarrowCRegular';
	background-image: url('images/footer-bg.jpg');
	font-size: 13px;
	width: 976px;
	height: 80px;
	margin: -80px auto;
	clear: both;
	text-align: center;
	position: relative;

}

#footer p {
	padding-top: 10px;
}

#footer a {
	text-decoration: none;
}