			<div style="display:none"><div id="calligraphy"><!-- Start Advanced Gallery Html Containers -->
				<div class="navigation-container">
					<div id="thumbs" class="navigation">
					<a class="pageLink prev" style="visibility: hidden;" href="#" title="Previous Page"></a>

					<ul class="thumbs noscript">

						<li>
							<a class="thumb" name="leaf" href="gallery/calligraphy/Base3_List_v_snegu.jpg" title="Глубокой стариной повеяло...">
								<img src="gallery/calligraphy/Base3_List_v_snegu_thumb.jpg" alt="Глубокой стариной повеяло..." />
							</a>
							<div class="caption">
								<div class="image-title">"Глубокой стариной повеяло..."</div>
								<div class="image-desc">Бумага, тушь.</div>
							</div>
						</li>
						<li>
							<a class="thumb" name="leaf" href="gallery/calligraphy/Shekspire_49.jpg" title="Вильям Шекспир. 49 сонет">
								<img src="gallery/calligraphy/Shekspire_49_thumb.jpg" alt="Вильям Шекспир. 49 сонет" />
							</a>
							<div class="caption">
								<div class="image-title">"Вильям Шекспир. 49 сонет"</div>
								<div class="image-desc">Цветная бумага, тушь, темпера, перо, 21х29,6 см, 2011</div>
							</div>
						</li>
						<li>
							<a class="thumb" name="leaf" href="gallery/calligraphy/415.jpg" title="C'est lavie!">
								<img src="gallery/calligraphy/415_thumb.jpg" alt="C'est lavie!" />
							</a>
							<div class="caption">
								<div class="image-title">"C'est lavie!"</div>
								<div class="image-desc">Бумага, тушь.</div>
							</div>
						</li>
						<li>
							<a class="thumb" name="leaf" href="gallery/calligraphy/Asmanov_Molitva_o_slove.jpg" title="А. Асманов. Молитва о слове">
								<img src="gallery/calligraphy/Asmanov_Molitva_o_slove_thumb.jpg" alt="А. Асманов. Молитва о слове" />
							</a>
							<div class="caption">
								<div class="image-title">"А. Асманов. Молитва о слове"</div>
								<div class="image-desc">Бумага, тушь, перо, кисть, 13х25 см, 2008.</div>
							</div>
						</li>
						<li>
							<a class="thumb" name="leaf" href="gallery/calligraphy/Base_voron.jpg" title="Басё. На голой ветке">
								<img src="gallery/calligraphy/Base_voron_thumb.jpg" alt="Басё. На голой ветке" />
							</a>
							<div class="caption">
								<div class="image-title">"Басё. На голой ветке"</div>
								<div class="image-desc">Бумага, тушь, перо, 20х28 см, 2011.</div>
							</div>
						</li>
						<li>
							<a class="thumb" name="leaf" href="gallery/calligraphy/Gr_Epshtein_Dojd.jpg" title="Г. Эпштейн. Попробуй спорить осенью с дождём">
								<img src="gallery/calligraphy/Gr_Epshtein_Dojd_thumb.jpg" alt="Г. Эпштейн. Попробуй спорить осенью с дождём" />
							</a>
							<div class="caption">
								<div class="image-title">"Г. Эпштейн. Попробуй спорить осенью с дождём"</div>
								<div class="image-desc">Бумага, гелевая ручка, 30х40 см, 2008.</div>
							</div>
						</li>
						<li>
							<a class="thumb" name="leaf" href="gallery/calligraphy/Konfuciy.jpg" title="Конфуций">
								<img src="gallery/calligraphy/Konfuciy_thumb.jpg" alt="Конфуций" />
							</a>
							<div class="caption">
								<div class="image-title">"Конфуций"</div>
								<div class="image-desc">Декоративная бумага, тушь, перо, кисть, 20х20 см,</div>
							</div>
						</li>
						<li>
							<a class="thumb" name="leaf" href="gallery/calligraphy/Tie_Lovec_Strekoz.jpg" title="Тиё. На смерть маленького сына">
								<img src="gallery/calligraphy/Tie_Lovec_Strekoz_thumb.jpg" alt="Тиё. На смерть маленького сына" />
							</a>
							<div class="caption">
								<div class="image-title">"Тиё. На смерть маленького сына"</div>
								<div class="image-desc">Бумага, тушь, перо, 20,5х28,5 см, 1999.</div>
							</div>
						</li>
						<li>
							<a class="thumb" name="leaf" href="gallery/calligraphy/Tie_Udochki_6.jpg" title="Тиё. Удочки в волнах">
								<img src="gallery/calligraphy/Tie_Udochki_6_thumb.jpg" alt="Тиё. Удочки в волнах" />
							</a>
							<div class="caption">
								<div class="image-title">"Тиё. Удочки в волнах"</div>
								<div class="image-desc">Бумага, темпера, перо, 7х17 см, 2006.</div>
							</div>
						</li>
					</ul>
					<a class="pageLink next" style="visibility: hidden;" href="#" title="Next Page"></a>
				</div>
			</div>
				<div id="gallery" class="content">
					<div class="slideshow-container">
						<div id="slideshow" class="slideshow"></div>
					</div>
					<div id="caption" class="caption-container"></div>
				</div>
			</div>

						<script type="text/javascript">
			jQuery(document).ready(function($) {
				// We only want these styles applied when javascript is enabled
				$('div.content').css('display', 'block');

				// Initially set opacity on thumbs and add
				// additional styling for hover effect on thumbs
				var onMouseOutOpacity = 1.0;
				$('#thumbs ul.thumbs li, div.navigation a.pageLink').opacityrollover({
					mouseOutOpacity:   onMouseOutOpacity,
					mouseOverOpacity:  1.0,
					fadeSpeed:         'fast',
					exemptionSelector: '.selected'
				});
				
				// Initialize Advanced Galleriffic Gallery
				var gallery = $('#thumbs').galleriffic({
					delay:                     2500,
					numThumbs:                 8,
					preloadAhead:              8,
					enableTopPager:            false,
					enableBottomPager:         false,
					imageContainerSel:         '#slideshow',
					controlsContainerSel:      '#controls',
					captionContainerSel:       '#caption',
					loadingContainerSel:       '#loading',
					renderSSControls:          false,
					renderNavControls:         false,
					playLinkText:              'Play Slideshow',
					pauseLinkText:             'Pause Slideshow',
					prevLinkText:              '&lsaquo; Previous Photo',
					nextLinkText:              'Next Photo &rsaquo;',
					nextPageLinkText:          'Next &rsaquo;',
					prevPageLinkText:          '&lsaquo; Prev',
					enableHistory:             true,
					autoStart:                 false,
					syncTransitions:           false,
					defaultTransitionDuration: 900,
					onSlideChange:             function(prevIndex, nextIndex) {
						// 'this' refers to the gallery, which is an extension of $('#thumbs')
						this.find('ul.thumbs').children()
							.eq(prevIndex).fadeTo('fast', onMouseOutOpacity).end()
							.eq(nextIndex).fadeTo('fast', 1.0);

						// Update the photo index display
						this.$captionContainer.find('div.photo-index')
							.html('Photo '+ (nextIndex+1) +' of '+ this.data.length);
					},
					onPageTransitionOut:       function(callback) {
						this.fadeTo('fast', 0.0, callback);
					},
					onPageTransitionIn:        function() {
						var prevPageLink = this.find('a.prev').css('visibility', 'hidden');
						var nextPageLink = this.find('a.next').css('visibility', 'hidden');
						
						// Show appropriate next / prev page links
						if (this.displayedPage > 0)
							prevPageLink.css('visibility', 'visible');

						var lastPage = this.getNumPages() - 1;
						if (this.displayedPage < lastPage)
							nextPageLink.css('visibility', 'visible');

						this.fadeTo('fast', 1.0);
					}
				});

				/**************** Event handlers for custom next / prev page links **********************/

				gallery.find('a.prev').click(function(e) {
					gallery.previousPage();
					e.preventDefault();
				});

				gallery.find('a.next').click(function(e) {
					gallery.nextPage();
					e.preventDefault();
				});

				/****************************************************************************************/

				/**** Functions to support integration of galleriffic with the jquery.history plugin ****/

				// PageLoad function
				// This function is called when:
				// 1. after calling $.historyInit();
				// 2. after calling $.historyLoad();
				// 3. after pushing "Go Back" button of a browser
				function pageload(hash) {
					// alert("pageload: " + hash);
					// hash doesn't contain the first # character.
					if(hash) {
						$.galleriffic.gotoImage(hash);
					} else {
						gallery.gotoIndex(0);
					}
				}

				// Initialize history plugin.
				// The callback is called at once by present location.hash. 
				$.historyInit(pageload, "advanced.html");

				// set onlick event for buttons using the jQuery 1.3 live method
				$("a[rel='history']").live('click', function(e) {
					if (e.button != 0) return true;

					var hash = this.href;
					hash = hash.replace(/^.*#/, '');

					// moves to a new page. 
					// pageload is called at once. 
					// hash don't contain "#", "?"
					$.historyLoad(hash);

					return false;
				});

				/****************************************************************************************/
			});
		
			</script>